# LOG
# Added by Dario 2021 DEC 17

root = true

[*]
charset = utf-8
tab_width = 2
indent_size = 2
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
