@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0');
}
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.loading-spinner {
  animation-play-state: running;
  opacity: 1;
  position: relative;
  height: 300px;
}
.loading-spinner.-paused {
  animation-play-state: paused;
  opacity: 0.2;
  transition: opacity linear 0.1s;
}
.loading-spinner:before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 3px #dedede;
  border-bottom-color: #ef6565;
  border-radius: 50%;
  content: '';
  height: 80px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 80px;
  will-change: transform;
}
:root {
  --ff-brand-color: var(--color-black);
  --color-white: #fafafe;
  --color-bright-white: #fcfcfa;
  --color-black: #202124;
  --tabs-bg-color: darkcyan;
  --tabs-fg-color: var(--color-white);
  --border-color: #dadce0;
  --border-color-light: #dadce0;
  --color-red: #900;
  --card-padding: 16px;
  --card-icon-size: 52px;
  --card-ok-fix-label-with: 42px;
  --card-suggestion-color: rgba(255, 215, 0, 0.5);
  --card-error-color: rgba(32, 33, 36, 0.5);
  --card-info-color: rgba(100, 149, 237, 0.4);
  --tip-color: rgba(255, 215, 0, 0.07);
  --inner-box-shadow: 0px 0px 8px hsla(0, 0%, 53%, 0.2);
}
.small-btn {
  text-decoration: none;
  font-weight: normal;
  color: var(--tabs-bg-color) !important;
  background-color: var(--color-white);
  border: solid 1px var(--tabs-bg-color);
  border-radius: 5px;
  margin-left: 2px;
  cursor: pointer;
  font-size: 10px;
  padding: 2px 6px;
  float: right;
}
.small-btn:hover {
  background-color: var(--tabs-bg-color);
  color: var(--color-white) !important;
  text-decoration: none !important;
}
.large-btn {
  text-decoration: none !important;
  font-weight: normal;
  background-color: var(--tabs-bg-color);
  color: var(--color-white) !important;
  border: solid 1px var(--tabs-bg-color);
  border-radius: 5px;
  margin: 0 auto !important;
  cursor: pointer;
  display: inline-block !important;
  font-size: 12px;
  padding: 6px 16px 6px 24px;
  position: relative;
}
.large-btn:hover {
  text-decoration: none !important;
  color: var(--tabs-bg-color) !important;
  background-color: var(--color-white) !important;
}
.large-btn.external-link::before {
  content: '\f08e';
  font-family: FontAwesome;
  font-size: 1.3em;
  position: absolute;
  top: 0.36em;
  left: 0.26em;
}
body#id-page-auditor {
  min-width: 540px;
  max-width: 540px;
  min-height: fit-content;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
  color: var(--color-black);
  cursor: default;
}
body#id-page-auditor header {
  padding: 8px 0;
  background-color: var(--color-white);
  color: var(--ff-brand-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}
body#id-page-auditor header h1 {
  text-align: left;
  margin-left: 0;
  padding-left: 70px;
  font-family: 'Lobster Two';
  margin-bottom: 8px;
  margin-top: 4px;
  font-size: 28px;
  background-image: url(../logos/FC_100x100.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 48px;
}
body#id-page-auditor header .product-by {
  text-align: left;
  margin-left: 16px;
  font-size: 12px;
  color: var(--color-black);
}
body#id-page-auditor header .product-by #id-version {
  text-align: right;
  float: right;
  padding-right: 16px;
}
body#id-page-auditor main {
  font-size: 14px;
  background-color: var(--color-white);
  padding-top: 124px;
}
body#id-page-auditor main .show {
  display: block !important;
}
body#id-page-auditor main .hide {
  display: none !important;
}
body#id-page-auditor main #id-report-outer-container {
  padding: 28px 16px 16px;
}
body#id-page-auditor main #id-report-outer-container .inner-report-container {
  display: none;
}
body#id-page-auditor .box-card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 0;
  margin-bottom: 32px;
  background-color: var(--color-white);
  overflow: hidden;
}
body#id-page-auditor .box-card:hover {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
body#id-page-auditor .box-card h2.cardTitle {
  font-size: 18px;
  margin: 0;
  background-size: var(--card-icon-size) var(--card-icon-size);
  background-repeat: no-repeat;
  background-position: calc(var(--card-padding) - 2px) center;
  background-color: #00688c3b;
  padding: var(--card-padding);
  padding-left: calc(var(--card-icon-size) + 2 * var(--card-padding));
  position: relative;
  font-weight: normal;
  overflow: hidden;
}
body#id-page-auditor .box-card h2.cardTitle:after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  color: #fff;
  height: 100%;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-content: center;
  width: 52px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-shadow: 1px 1px 9px #858585;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: left;
  background-size: 48px;
  content: '';
}
body#id-page-auditor .box-card h2.cardTitle.card-ok {
  background-color: #00640026;
  color: var(--color-black);
}
body#id-page-auditor .box-card h2.cardTitle.card-ok:after {
  background-image: url(../logos/OK_100x100.png);
}
body#id-page-auditor .box-card h2.cardTitle.card-fix {
  background-color: #ffa00052;
  color: var(--color-black);
}
body#id-page-auditor .box-card h2.cardTitle.card-fix:after {
  background-image: url(../logos/WARNING_100x100.png);
}
body#id-page-auditor .box-card h2.cardTitle .cardPreTitle {
  font-variant: small-caps;
  font-size: 14px;
}
body#id-page-auditor .box-card h2.cardTitle .cardTitleString {
  max-height: 1.4rem;
  display: inline-block;
  overflow-x: hidden;
}
body#id-page-auditor .box-card hr {
  border: none;
  border-top: solid 1px var(--border-color);
  margin: 0 -12px;
}
body#id-page-auditor .box-card .card-body {
  padding: var(--card-padding);
  font-size: 14px;
}
body#id-page-auditor .box-card .card-body > div {
  margin-bottom: 16px;
}
body#id-page-auditor .box-card .card-body > div:last-child {
  margin-bottom: 0 !important;
}
body#id-page-auditor .box-card .card-body a {
  color: darkblue;
  text-decoration: none;
}
body#id-page-auditor .box-card .card-body a:hover {
  text-decoration: underline;
}
body#id-page-auditor .box-card .card-body .cta-toolbar {
  margin: 12px 0 0 0 !important;
  padding: 0;
  text-align: center;
}
body#id-page-auditor .box-card .card-body code {
  background-color: #eaeaea;
  padding: 0 4px;
}
body#id-page-auditor .box-card .card-body .table-container table.card-table {
  background-color: var(--color-bright-white);
  width: 100%;
  border-collapse: collapse;
}
body#id-page-auditor .box-card .card-body .table-container table.card-table tr + tr {
  border-top: solid 1px var(--border-color-light);
}
body#id-page-auditor .box-card .card-body .table-container table.card-table tr td {
  padding: 6px 4px;
  font-size: 14px;
  min-width: 100px;
  word-break: break-all;
}
body#id-page-auditor .box-card .card-body .table-container table.card-table tr td + td {
  border-left: solid 1px var(--border-color-light);
}
body#id-page-auditor .box-card .card-footer {
  padding: 8px;
  border-top: solid 1px var(--border-color);
  display: none;
}
body#id-page-auditor .box-card .card-footer .cta-toolbar {
  text-align: center !important;
}
body#id-page-auditor .box-card .expandable-code :is(.label-open, .label-close) {
  background: linear-gradient(45deg, #005aff59, #f0f0f0);
}
body#id-page-auditor .box-card .card-tip {
  margin-bottom: 16px;
}
body#id-page-auditor .box-card .card-tip .tip-title {
  background: linear-gradient(90deg, #fddeb5, #f0f0f0, #fddeb5);
}
body#id-page-auditor .box-card .card-tip .tip-title:after {
  font-family: 'FontAwesome';
  content: '\f0eb';
  float: right;
  font-size: 18px;
}
body#id-page-auditor .box-card .card-tip .tip-title code {
  background-color: transparent !important;
}
body#id-page-auditor .box-card .card-tip .tip-body {
  padding: 16px;
  background-color: #fff;
  padding-bottom: 16px;
  position: relative;
}
body#id-page-auditor .box-card .card-tip .tip-body > div {
  margin: 8px 0;
}
body#id-page-auditor .box-card .card-tip .tip-body > div > .code {
  margin-top: 16px;
}
body#id-page-auditor .box-card .card-tip .tip-body .tip-scale-title {
  top: 16px;
  font-size: 12px;
  left: calc(50% - 100px);
  width: 200px;
  text-align: center;
  z-index: 200;
  position: absolute;
}
body#id-page-auditor .box-card .card-tip .tip-body .tip-scale {
  border: solid 1px var(--border-color);
  border-radius: 20px;
  height: 25px;
  margin: 0 auto 32px;
  background-repeat: no-repeat;
  background-size: 100% 100%, 1px 100%, 1px 100%, 1px 100%, 1px 100%, 1px 100%, 1px 100%, 1px 100%,
                        1px 100%, 1px 100%;
  background-image: linear-gradient(90deg, rgba(255, 215, 0, 0.5), rgba(255, 165, 0, 0.5), rgba(255, 0, 0, 0.5)), linear-gradient(var(--border-color), var(--border-color)), linear-gradient(var(--border-color), var(--border-color)), linear-gradient(var(--border-color), var(--border-color)), linear-gradient(var(--border-color), var(--border-color)), linear-gradient(var(--border-color), var(--border-color)), linear-gradient(var(--border-color), var(--border-color)), linear-gradient(var(--border-color), var(--border-color)), linear-gradient(var(--border-color), var(--border-color)), linear-gradient(var(--border-color), var(--border-color));
  background-position: 0 center, 10% center, 20% center, 30% center, 40% center, 50% center,
                        60% center, 70% center, 80% center, 90% center;
  position: relative;
}
body#id-page-auditor .box-card .card-tip .tip-body .tip-scale::before {
  content: '0';
  position: absolute;
  top: 6px;
  left: 6px;
  font-size: 12px;
}
body#id-page-auditor .box-card .card-tip .tip-body .tip-scale::after {
  content: '100';
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 12px;
}
body#id-page-auditor .box-card .card-tip .tip-body .tip-scale .tip-scale-level {
  position: relative;
  width: 50%;
}
body#id-page-auditor .box-card .card-tip .tip-body .tip-scale .tip-scale-level:before {
  content: attr(data-scale);
  position: relative;
  right: calc(-100% + 14px);
  top: 30px;
  z-index: 100;
  font-size: 11px;
  display: block;
  width: 28px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.75);
  border-radius: 0 0 4px 4px;
  color: white;
  padding-bottom: 2px;
  box-shadow: 0 2px 4px #aaa;
}
body#id-page-auditor .box-card .card-tip .tip-body .tip-scale .tip-scale-level:after {
  height: 0;
  content: '';
  right: -20px;
  top: -10px;
  position: absolute;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent rgba(128, 128, 128, 0.75);
  transform: scaleX(0.72);
  z-index: 300;
}
body#id-page-auditor .box-card .expandable-code .body-open {
  padding: 8px;
}
body#id-page-auditor .box-card .code {
  font-family: monospace, 'Courier New', Courier, monospace;
  font-size: 13px;
  color: var(--color-black);
  overflow-x: auto;
  white-space: nowrap;
  border: solid 1px var(--border-color-light);
  border-radius: 3px;
  background-color: var(--color-bright-white);
  padding: var(--card-padding);
  position: relative;
}
body#id-page-auditor .box-card .code + .code {
  margin-top: 8px;
}
body#id-page-auditor .box-card .code:hover .icon-copy {
  visibility: visible;
}
body#id-page-auditor .box-card .code a {
  color: darkblue;
  text-decoration: none;
}
body#id-page-auditor .box-card .code a:hover {
  text-decoration: underline !important;
}
body#id-page-auditor .box-card .code div.icon-copy {
  height: 14px;
  width: 28px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  border: solid 1px #ccc;
  border-width: 0 1px 1px 0;
  border-radius: 0 0 3px 0;
}
body#id-page-auditor .box-card .code div.icon-copy:before {
  content: 'Copy';
  position: absolute;
  top: 1px;
  left: 3px;
  font-size: 10px;
}
body#id-page-auditor .box-card .code div.icon-copy:hover {
  cursor: pointer;
  background-color: #00640026;
}
body#id-page-auditor .twitter-card {
  cursor: pointer;
}
body#id-page-auditor .twitter-card .box-label {
  background: linear-gradient(90deg, #1da1f2, #f0f0f0, #1da1f2);
  color: #fff;
}
body#id-page-auditor .twitter-card .box-label:after {
  font-family: 'FontAwesome';
  content: '\f099';
  float: right;
  font-size: 18px;
}
body#id-page-auditor .twitter-card .preview-img {
  width: 100%;
}
body#id-page-auditor .twitter-card .preview-legend {
  padding: 12px;
  background-color: #fff;
}
body#id-page-auditor .twitter-card .preview-legend .twitter-card-title {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0f1419;
}
body#id-page-auditor .twitter-card .preview-legend .twitter-card-domain {
  font-size: 15px;
  color: #536471;
}
body#id-page-auditor .twitter-card .preview-legend .twitter-card-description {
  font-size: 15px;
  color: #536471;
}
body#id-page-auditor .facebook-card .box-label {
  background: linear-gradient(90deg, #4267b2, #f0f0f0, #4267b2);
  color: #fff;
}
body#id-page-auditor .facebook-card .box-label:after {
  font-family: 'FontAwesome';
  content: '\f230';
  font-size: 18px;
  float: right;
}
body#id-page-auditor .facebook-card .preview-img {
  width: 100%;
}
body#id-page-auditor .facebook-card .preview-legend {
  padding: 12px 16px;
  background-color: #3a3b3c;
}
body#id-page-auditor .facebook-card .preview-legend .open-graph-card-domain {
  line-height: 16px;
  font-size: 12px;
  color: #b0b3b8;
}
body#id-page-auditor .facebook-card .preview-legend h2 {
  color: var(--color-white);
  font-size: 17px;
  line-height: 22px;
  margin: 0;
}
body#id-page-auditor .facebook-card .preview-legend .og-description {
  font-size: 12px;
  color: #b0b3b8;
  line-height: 16.08px;
}
body#id-page-auditor nav {
  padding-top: 66px;
  position: fixed;
  background-color: var(--color-white);
  width: 100%;
  z-index: 1000;
}
body#id-page-auditor nav .tabs {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
  border-bottom: solid 1px var(--tabs-bg-color);
}
body#id-page-auditor nav .tabs li {
  border-style: solid;
  border-width: 4px 1px 1px;
  border-color: var(--tabs-bg-color);
  color: var(--tabs-fg-color);
  border-radius: 0.25rem 0.25rem 0 0 !important;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--tabs-bg-color);
  position: relative;
  bottom: -1px;
  user-select: none;
}
body#id-page-auditor nav .tabs li.active {
  border-bottom-color: transparent;
  background-color: var(--tabs-fg-color);
  color: var(--tabs-bg-color);
}
body#id-page-auditor nav .tabs li:not(.active):not(.gap-mini):hover {
  background-color: var(--tabs-fg-color);
  color: var(--tabs-bg-color);
  border-bottom-color: var(--tabs-bg-color);
}
body#id-page-auditor nav .tabs li.gap-mini {
  width: 16px;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
}
body#id-page-auditor nav .tabs li.gap-sep {
  width: 4px;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
}
body#id-page-auditor .pointers {
  list-style: none;
  padding: 4px 0 4px 24px;
}
body#id-page-auditor .pointers .credits-pointer {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 6px 0 6px 26px;
  background-position-y: center;
}
body#id-page-auditor .pointers .credits-pointer a {
  text-decoration: none;
  color: var(--color-black);
}
body#id-page-auditor .pointers .credits-pointer a:hover {
  color: var(--color-red);
  text-decoration: underline;
}
body#id-page-auditor .box-card.icon-ld-json > h2 {
  background-image: url(../logos/JSON-LD_100x100.png);
}
body#id-page-auditor .box-card.icon-error > h2 {
  background-image: url(../logos/ERROR_100x100.png);
}
body#id-page-auditor .box-card.icon-info > h2 {
  background-image: url(../logos/Info_100x100.png);
}
body#id-page-auditor .box-card.icon-OK > h2 {
  background-image: url(../logos/OK_100x100.png);
}
body#id-page-auditor .box-card.icon-suggestion > h2 {
  background-color: var(--card-suggestion-color) !important;
  background-image: url(../logos/Suggestion_100x100.png);
  background-color: var(--var-card-suggestion-bg);
}
body#id-page-auditor .box-card.icon-google-ads > h2 {
  background-image: url(../logos/GoogleAds_100x100.png);
}
body#id-page-auditor .box-card.icon-double-click > h2 {
  background-image: url(../logos/DoubleClick_100x100.png);
}
body#id-page-auditor .box-card.icon-tag-manager > h2 {
  background-image: url(../logos/GoogleTagManager_100x100.png);
}
body#id-page-auditor .box-card.icon-facebook > h2 {
  background-image: url(../logos/Facebook_100x100.png);
}
body#id-page-auditor .box-card.icon-facebook-pixel > h2 {
  background-image: url(../logos/FacebookPixel_100x100.png);
}
body#id-page-auditor .box-card.icon-twitter > h2 {
  background-image: url(../logos/TwitterAds_100x100.png);
}
body#id-page-auditor .box-card.icon-twitter-analytics > h2 {
  background-image: url(../logos/TwitterAnalytics_100x100.png);
}
body#id-page-auditor .box-card.icon-bing-ads > h2 {
  background-image: url(../logos/BingAds_100x100.png);
}
body#id-page-auditor .box-card.icon-pinterest > h2 {
  background-image: url(../logos/Pinterest_100x100.png);
}
body#id-page-auditor .box-card.icon-google-analytics-v3 > h2 {
  background-image: url(../logos/GoogleAnalyticsV3_100x100.png);
}
body#id-page-auditor .box-card.icon-podsights > h2 {
  background-image: url(../logos/Podsights_100x100.png);
}
body#id-page-auditor .box-card.icon-site-improve > h2 {
  background-image: url(../logos/SiteImprove_100x100.png);
}
body#id-page-auditor .box-card.icon-google > h2 {
  background-image: url(../logos/Google_100x100.png);
}
body#id-page-auditor .box-card.icon-web-stat > h2 {
  background-image: url(../logos/WebStat_100x100.png);
}
body#id-page-auditor .box-card.icon-replay-app > h2 {
  background-image: url(../logos/ReplayApp_100x100.png);
}
body#id-page-auditor .box-card.icon-cartkit > h2 {
  background-image: url(../logos/CartKit_100x100.png);
}
body#id-page-auditor .box-card.icon-heroku > h2 {
  background-image: url(../logos/Heroku_100x100.png);
}
body#id-page-auditor .box-card.icon-hubspot > h2 {
  background-image: url(../logos/Hubspot_100x100.png);
}
body#id-page-auditor .box-card.icon-krux-pixel > h2 {
  background-image: url(../logos/KruxPixel_100x100.png);
}
body#id-page-auditor .box-card.icon-amazon-ads > h2 {
  background-image: url(../logos/AmazonAds_100x100.png);
}
body#id-page-auditor .box-card.icon-amazon > h2 {
  background-image: url(../logos/Amazon_100x100.png);
}
body#id-page-auditor .box-card.icon-segment-analytics > h2 {
  background-image: url(../logos/SegmentAnalytics_100x100.png);
}
body#id-page-auditor .box-card.icon-warnermedia-analytics > h2 {
  background-image: url(../logos/TurnerAnalytics_100x100.png);
}
body#id-page-auditor .box-card.icon-criteo > h2 {
  background-image: url(../logos/Criteo_100x100.png);
}
body#id-page-auditor .box-card.icon-zeta-global > h2 {
  background-image: url(../logos/Zeta_100x100.png);
}
body#id-page-auditor .box-card.icon-quantcast > h2 {
  background-image: url(../logos/QuantCast_100x100.png);
}
body#id-page-auditor .box-card.icon-adform > h2 {
  background-image: url(../logos/AdForm_100x100.png);
}
body#id-page-auditor .box-card.icon-nativo > h2 {
  background-image: url(../logos/Nativo_100x100.png);
}
body#id-page-auditor .box-card.icon-drift > h2 {
  background-image: url(../logos/Drift_100x100.png);
}
body#id-page-auditor .box-card.icon-neodata > h2 {
  background-image: url(../logos/NeodataGroup_100x100.png);
}
body#id-page-auditor .box-card.icon-sophus3 > h2 {
  background-image: url(../logos/Sophus3_100x100.png);
}
body#id-page-auditor .box-card.icon-drip > h2 {
  background-image: url(../logos/Drip_100x100.png);
}
body#id-page-auditor .box-card.icon-crazy-egg > h2 {
  background-image: url(../logos/CrazyEgg_100x100.png);
}
body#id-page-auditor .box-card.icon-leadfeeder > h2 {
  background-image: url(../logos/LeadFeeder_100x100.png);
}
body#id-page-auditor .box-card.icon-outbrain > h2 {
  background-image: url(../logos/OutBrain_100x100.png);
}
body#id-page-auditor .box-card.icon-qualtric > h2 {
  background-image: url(../logos/Qualtric_100x100.png);
}
body#id-page-auditor .box-card.icon-avantlink > h2 {
  background-image: url(../logos/AvantLink_100x100.png);
}
body#id-page-auditor .box-card.icon-scorecard > h2 {
  background-image: url(../logos/ScoreCard_100x100.png);
}
body#id-page-auditor .box-card.icon-taboola > h2 {
  background-image: url(../logos/Taboola_100x100.png);
}
body#id-page-auditor .box-card.icon-nielsen > h2 {
  background-image: url(../logos/Nielsen_100x100.png);
}
body#id-page-auditor .box-card.icon-webtrekk > h2 {
  background-image: url(../logos/Webtrekk_100x100.png);
}
body#id-page-auditor .box-card.icon-iubenda > h2 {
  background-image: url(../logos/Iubenda_100x100.png);
}
body#id-page-auditor .box-card.icon-cookielaw > h2 {
  background-image: url(../logos/Cookielaw_100x100.png);
}
body#id-page-auditor .box-card.icon-cxense > h2 {
  background-image: url(../logos/Cxense_100x100.png);
}
body#id-page-auditor .box-card.icon-fc > h2 {
  background-image: url(../logos/FC_100x100.png);
}
body#id-page-auditor .box-card.icon-franco-avatar > h2 {
  background-image: url(../logos/Avatar_200x200.png);
}
body#id-page-auditor .box-card.icon-tag > h2 {
  background-image: url(../logos/Tag_100x100.png);
}
body#id-page-auditor .box-card.icon-open-graph > h2 {
  background-image: url(../logos/OpenGraph_100x100.png);
}
body#id-page-auditor .box-card.icon-swiftype > h2 {
  background-image: url(../logos/Swiftype_100x100.png);
}
body#id-page-auditor .box-card.icon-rep > h2 {
  background-image: url(../logos/REP_100x100.png);
}
body#id-page-auditor .box-card.icon-lock > h2 {
  background-image: url(../logos/Lock_100x100.png);
}
body#id-page-auditor .box-card.icon-seo > h2 {
  background-image: url(../logos/SEO_100x100.png);
}
body#id-page-auditor .box-card.icon-chromium > h2 {
  background-image: url(../logos/Chromium_100x100.png);
}
body#id-page-auditor .box-card.icon-micro-formats > h2 {
  background-image: url(../logos/MicroFormats_100x100.png);
}
body#id-page-auditor .box-card.icon-apple > h2 {
  background-image: url(../logos/Apple_100x100.png);
}
body#id-page-auditor .box-card.icon-windows > h2 {
  background-image: url(../logos/Windows_100x100.png);
}
body#id-page-auditor .box-card.icon-shopify > h2 {
  background-image: url(../logos/Shopify_100x100.png);
}
body#id-page-auditor .box-card.icon-branch > h2 {
  background-image: url(../logos/Branch_100x100.png);
}
body#id-page-auditor .box-card.icon-ie > h2 {
  background-image: url(../logos/IE_100x100.png);
}
body#id-page-auditor .box-card.icon-ms > h2 {
  background-image: url(../logos/MS_100x100.png);
}
body#id-page-auditor .box-card.icon-unclassified > h2 {
  background-image: url(../logos/Unclassified_100x100.png);
}
body#id-page-auditor .box-card.icon-xandr > h2 {
  background-image: url(../logos/Xandr_100x100.png);
}
body#id-page-auditor .box-card.icon-ias > h2 {
  background-image: url(../logos/IAS_100x100.png);
}
body#id-page-auditor .box-card.icon-wunderkind > h2 {
  background-image: url(../logos/Wunderkind_100x100.png);
}
body#id-page-auditor .box-card.icon-heap > h2 {
  background-image: url(../logos/Heap_100x100.png);
}
body#id-page-auditor .box-card.icon-marketo > h2 {
  background-image: url(../logos/Marketo_100x100.png);
}
body#id-page-auditor .box-card.icon-vwo > h2 {
  background-image: url(../logos/VWO_100x100.png);
}
body#id-page-auditor .box-card.icon-cookiebot > h2 {
  background-image: url(../logos/Cookiebot_100x100.png);
}
body#id-page-auditor .box-card.icon-pardot > h2 {
  background-image: url(../logos/Pardot_100x100.png);
}
body#id-page-auditor .box-card.icon-adroll > h2 {
  background-image: url(../logos/AdRoll_100x100.png);
}
body#id-page-auditor .box-card.icon-quora > h2 {
  background-image: url(../logos/Quora_100x100.png);
}
body#id-page-auditor .box-card.icon-hotjar > h2 {
  background-image: url(../logos/Hotjar_100x100.png);
}
body#id-page-auditor .box-card.icon-trustpilot > h2 {
  background-image: url(../logos/Trustpilot_100x100.png);
}
body#id-page-auditor .box-card.icon-liveperson > h2 {
  background-image: url(../logos/LivePerson_100x100.png);
}
body#id-page-auditor .box-card.icon-reddit > h2 {
  background-image: url(../logos/Reddit_100x100.png);
}
body#id-page-auditor .box-card.icon-buy-sell-ads > h2 {
  background-image: url(../logos/BuySellAds_100x100.png);
}
body#id-page-auditor .box-card.icon-cloudflare > h2 {
  background-image: url(../logos/CloudFlare_100x100.png);
}
body#id-page-auditor .box-card.icon-google-optimize > h2 {
  background-image: url(../logos/GoogleOptimize_100x100.png);
}
body#id-page-auditor .box-card.icon-firebase > h2 {
  background-image: url(../logos/Firebase_100x100.png);
}
body#id-page-auditor .box-card.icon-wordpress > h2 {
  background-image: url(../logos/Wordpress_100x100.png);
}
body#id-page-auditor .box-card.icon-riskified > h2 {
  background-image: url(../logos/Riskified_100x100.png);
}
body#id-page-auditor .box-card.icon-onetrust > h2 {
  background-image: url(../logos/Onetrust_100x100.png);
}
body#id-page-auditor .box-card.icon-amplitude > h2 {
  background-image: url(../logos/Amplitude_100x100.png);
}
body#id-page-auditor .box-card.icon-new-relic > h2 {
  background-image: url(../logos/NewRelic_100x100.png);
}
body#id-page-auditor .box-card.icon-squarespace > h2 {
  background-image: url(../logos/Squarespace_100x100.png);
}
body#id-page-auditor .box-card.icon-stripe > h2 {
  background-image: url(../logos/Stripe_100x100.png);
}
body#id-page-auditor .box-card.icon-apps-flyer > h2 {
  background-image: url(../logos/AppsFlyer_100x100.png);
}
body#id-page-auditor .box-card.icon-appcues > h2 {
  background-image: url(../logos/Appcues_100x100.png);
}
body#id-page-auditor .box-card.icon-brand-metrics > h2 {
  background-image: url(../logos/BrandMetrics_100x100.png);
}
body#id-page-auditor .box-card.icon-parrable > h2 {
  background-image: url(../logos/Parrable_100x100.png);
}
body#id-page-auditor .box-card.icon-neustar > h2 {
  background-image: url(../logos/Neustar_100x100.png);
}
body#id-page-auditor .box-card.icon-thetradedesk > h2 {
  background-image: url(../logos/TheTradeDesk_100x100.png);
}
body#id-page-auditor .box-card.icon-tidio > h2 {
  background-image: url(../logos/TIDIO_100x100.png);
}
body#id-page-auditor .box-card.icon-jquery > h2 {
  background-image: url(../logos/jQuery_100x100.png);
}
body#id-page-auditor .box-card.icon-tapfiliate > h2 {
  background-image: url(../logos/Tapfiliate_100x100.png);
}
body#id-page-auditor .box-card.icon-intercom > h2 {
  background-image: url(../logos/Intercom_100x100.png);
}
body#id-page-auditor .box-card.icon-clearbit > h2 {
  background-image: url(../logos/Clearbit_100x100.png);
}
body#id-page-auditor .box-card.icon-chartbeat > h2 {
  background-image: url(../logos/Chartbeat_100x100.png);
}
body#id-page-auditor .box-card.icon-onetag > h2 {
  background-image: url(../logos/Onetag_100x100.png);
}
body#id-page-auditor .box-card.icon-insurads > h2 {
  background-image: url(../logos/InsurAds_100x100.png);
}
body#id-page-auditor .box-card.icon-userzoom > h2 {
  background-image: url(../logos/UserZoom_100x100.png);
}
body#id-page-auditor .box-card.icon-consensu > h2 {
  background-image: url(../logos/Consensu_100x100.png);
}
body#id-page-auditor .box-card.icon-adobe > h2 {
  background-image: url(../logos/Adobe_100x100.png);
}
body#id-page-auditor .box-card.icon-tiktok > h2 {
  background-image: url(../logos/TikTok_100x100.png);
}
body#id-page-auditor .box-card.icon-youtube > h2 {
  background-image: url(../logos/YouTube_100x100.png);
}
body#id-page-auditor .box-card.icon-snapchat > h2 {
  background-image: url(../logos/SnapChat_100x100.png);
}
body#id-page-auditor .box-card.icon-contentsquare > h2 {
  background-image: url(../logos/ContentSquare_100x100.png);
}
body#id-page-auditor .box-card.icon-user1st > h2 {
  background-image: url(../logos/USER1st_100x100.png);
}
body#id-page-auditor .box-card.icon-fontawesome > h2 {
  background-image: url(../logos/FontAwesome_100x100.png);
}
body#id-page-auditor .box-card.icon-cloudfront > h2 {
  background-image: url(../logos/Cloudfront_100x100.png);
}
body#id-page-auditor .box-card.icon-aws > h2 {
  background-image: url(../logos/AWS_100x100.png);
}
body#id-page-auditor .box-card.icon-js > h2 {
  background-image: url(../logos/JS_100x100.png);
}
body#id-page-auditor .box-card.icon-mailchimp > h2 {
  background-image: url(../logos/Mailchimp_100x100.png);
}
body#id-page-auditor .box-card.icon-yahoo > h2 {
  background-image: url(../logos/Yahoo_100x100.png);
}
body#id-page-auditor .box-card.icon-jivox > h2 {
  background-image: url(../logos/Jivox_100x100.png);
}
body#id-page-auditor .box-card.icon-leadlander > h2 {
  background-image: url(../logos/LeadLander_100x100.png);
}
body#id-page-auditor .box-card.icon-fastly > h2 {
  background-image: url(../logos/Fastly_100x100.png);
}
body#id-page-auditor .box-card.icon-demandbase > h2 {
  background-image: url(../logos/Demandbase_100x100.png);
}
body#id-page-auditor .box-card.icon-adlightning > h2 {
  background-image: url(../logos/AdLightning_100x100.png);
}
body#id-page-auditor .box-card.icon-mather > h2 {
  background-image: url(../logos/Mather_100x100.png);
}
body#id-page-auditor .box-card.icon-lytics > h2 {
  background-image: url(../logos/Lytics_100x100.png);
}
body#id-page-auditor .box-card.icon-sitemap > h2 {
  background-image: url(../logos/Sitemap_100x100.png);
}
body#id-page-auditor .box-card.icon-moat > h2 {
  background-image: url(../logos/MOAT_100x100.png);
}
body#id-page-auditor .box-card.icon-rich-audience {
  background-image: url(../logos/RichAudience_100x100.png);
}
body#id-page-auditor .box-card.icon-gladly > h2 {
  background-image: url(../logos/Gladly_100x100.png);
}
body#id-page-auditor .box-card.icon-channel-advisor > h2 {
  background-image: url(../logos/ChannelAdvisor_100x100.png);
}
body#id-page-auditor .box-card.icon-tealium > h2 {
  background-image: url(../logos/Tealium_100x100.png);
}
body#id-page-auditor .box-card.icon-algonomy > h2 {
  background-image: url(../logos/Algonomy_100x100.png);
}
body#id-page-auditor .box-card.icon-teads > h2 {
  background-image: url(../logos/Teads_100x100.png);
}
body#id-page-auditor .box-card.icon-salesforce > h2 {
  background-image: url(../logos/SalesForce_100x100.png);
}
body#id-page-auditor .box-card.icon-lotame > h2 {
  background-image: url(../logos/Lotame_100x100.png);
}
body#id-page-auditor .box-card.icon-movableink > h2 {
  background-image: url(../logos/MovableInk_100x100.png);
}
body#id-page-auditor .box-card.icon-skai > h2 {
  background-image: url(../logos/Skai_100x100.png);
}
body#id-page-auditor .box-card.icon-zync > h2 {
  background-image: url(../logos/Zync_100x100.png);
}
body#id-page-auditor .box-card.icon-bombora > h2 {
  background-image: url(../logos/Bombora_100x100.png);
}
body#id-page-auditor .box-card.icon-why > h2 {
  background-image: url(../logos/Why_100x100.png);
}
body#id-page-auditor .box-card.icon-how > h2 {
  background-image: url(../logos/How_100x100.png);
}
body#id-page-auditor .box-card.icon-open > h2 {
  background-image: url(../logos/Open_100x100.png);
}
body#id-page-auditor .box-card.icon-unpkg > h2 {
  background-image: url(../logos/unpkg_100x100.png);
}
body#id-page-auditor .box-card.icon-ethers > h2 {
  background-image: url(../logos/Ethers_100x100.png);
}
body#id-page-auditor .box-card.icon-fonts > h2 {
  background-image: url(../logos/Fonts_100x100.png);
}
body#id-page-auditor .box-card.icon-ada > h2 {
  background-image: url(../logos/Ada_100x100.png);
}
body#id-page-auditor .box-card.icon-linkedin > h2 {
  background-image: url(../logos/LinkedInAds_100x100.png);
}
body#id-page-auditor .box-card.icon-wordpress > h2 {
  background-image: url(../logos/Wordpress_100x100.png);
}
body#id-page-auditor .box-card.icon-fastcomments > h2 {
  background-image: url(../logos/FastComments_100x100.png);
}
body#id-page-auditor .box-card.icon-noibu > h2 {
  background-image: url(../logos/Noibu_100x100.png);
}
body#id-page-auditor .box-card.icon-zendesk > h2 {
  background-image: url(../logos/ZenDesk_100x100.png);
}
body#id-page-auditor .box-card.icon-salesloft > h2 {
  background-image: url(../logos/Salesloft_100x100.png);
}
body#id-page-auditor .box-card.icon-americaneagle > h2 {
  background-image: url(../logos/AmericanEagle_100x100.png);
}
body#id-page-auditor .box-card.icon-yotpo > h2 {
  background-image: url(../logos/Yotpo_100x100.png);
}
body#id-page-auditor .box-card.icon-datadome > h2 {
  background-image: url(../logos/DataDome_100x100.png);
}
body#id-page-auditor .box-card.icon-impact > h2 {
  background-image: url(../logos/Impact_100x100.png);
}
body#id-page-auditor .box-card.icon-pendo > h2 {
  background-image: url(../logos/Pendo_100x100.png);
}
body#id-page-auditor .box-card.icon-wistia > h2 {
  background-image: url(../logos/Wistia_100x100.png);
}
body#id-page-auditor .box-card.icon-disqus > h2 {
  background-image: url(../logos/Disqus_100x100.png);
}
body#id-page-auditor .box-card.icon-ga-connector > h2 {
  background-image: url(../logos/GaConnector_100x100.png);
}
body#id-page-auditor .box-card.icon-fullstory > h2 {
  background-image: url(../logos/FullStory_100x100.png);
}
body#id-page-auditor .box-card.icon-speedcurve > h2 {
  background-image: url(../logos/SpeedCurve_100x100.png);
}
body#id-page-auditor .box-card.icon-satismeter > h2 {
  background-image: url(../logos/SatisMeter_100x100.png);
}
body#id-page-auditor .box-card.icon-profitwell > h2 {
  background-image: url(../logos/ProfitWell_100x100.png);
}
body#id-page-auditor .box-card.icon-elevio > h2 {
  background-image: url(../logos/Elevio_100x100.png);
}
body#id-page-auditor .box-card.icon-headway-app > h2 {
  background-image: url(../logos/HeadwayApp_100x100.png);
}
body#id-page-auditor .box-card.icon-typekit > h2 {
  background-image: url(../logos/Typekit_100x100.png);
}
body#id-page-auditor .box-card.icon-ocelot > h2 {
  background-image: url(../logos/Ocelot_100x100.png);
}
body#id-page-auditor .box-card.icon-zoominfo > h2 {
  background-image: url(../logos/Zoominfo_100x100.png);
}
body#id-page-auditor .box-card.icon-iterate > h2 {
  background-image: url(../logos/Iterate_100x100.png);
}
body#id-page-auditor .box-card.icon-bluekai > h2 {
  background-image: url(../logos/Bluekai_100x100.png);
}
body#id-page-auditor .box-card.icon-geoedge > h2 {
  background-image: url(../logos/Geoedge_100x100.png);
}
body#id-page-auditor .box-card.icon-akamai > h2 {
  background-image: url(../logos/Akamai_100x100.png);
}
body#id-page-auditor .box-card.icon-media-net > h2 {
  background-image: url(../logos/MediaNet_100x100.png);
}
body#id-page-auditor .box-card.icon-cookiepro > h2 {
  background-image: url(../logos/CookiePro_100x100.png);
}
body#id-page-auditor .box-card.icon-ensighten > h2 {
  background-image: url(../logos/Ensighten_100x100.png);
}
body#id-page-auditor .box-card.icon-mediamath > h2 {
  background-image: url(../logos/MediaMath_100x100.png);
}
body#id-page-auditor .box-card.icon-liveramp > h2 {
  background-image: url(../logos/LiveRamp_100x100.png);
}
body#id-page-auditor .box-card.icon-bugherd > h2 {
  background-image: url(../logos/BugHerd_100x100.png);
}
body#id-page-auditor .box-card.icon-sharpspring > h2 {
  background-image: url(../logos/SharpSpring_100x100.png);
}
body#id-page-auditor .box-card.icon-sumo > h2 {
  background-image: url(../logos/Sumo_100x100.png);
}
body#id-page-auditor .box-card.icon-lead-forensics > h2 {
  background-image: url(../logos/LeadForensics_100x100.png);
}
body#id-page-auditor .box-card.icon-clickcease > h2 {
  background-image: url(../logos/Clickcease_100x100.png);
}
body#id-page-auditor .box-card.icon-marin > h2 {
  background-image: url(../logos/Marin_100x100.png);
}
body#id-page-auditor .box-card.icon-osano > h2 {
  background-image: url(../logos/Osano_100x100.png);
}
body#id-page-auditor .box-card.icon-osano > h2 {
  background-image: url(../logos/Osano_100x100.png);
}
body#id-page-auditor .box-card.icon-movinghub > h2 {
  background-image: url(../logos/Movinghub_100x100.png);
}
body#id-page-auditor .box-card.icon-bootstrap > h2 {
  background-image: url(../logos/Bootstrap_100x100.png);
}
body#id-page-auditor .box-card.icon-github > h2 {
  background-image: url(../logos/Github_100x100.png);
}
body#id-page-auditor .box-card.icon-carbonads > h2 {
  background-image: url(../logos/CarbonAds_100x100.png);
}
body#id-page-auditor .box-card.icon-baidu > h2 {
  background-image: url(../logos/Baidu_100x100.png);
}
body#id-page-auditor .box-card.icon-cookie-script > h2 {
  background-image: url(../logos/CookieScript_100x100.png);
}
body#id-page-auditor .box-card.icon-justuno > h2 {
  background-image: url(../logos/JustUno_100x100.png);
}
body#id-page-auditor .box-card.icon-order-logic > h2 {
  background-image: url(../logos/OrderLogic_100x100.png);
}
body#id-page-auditor .box-card.icon-shogun > h2 {
  background-image: url(../logos/Shogun_100x100.png);
}
body#id-page-auditor .box-card.icon-optinmonster > h2 {
  background-image: url(../logos/OptinMonster_100x100.png);
}
body#id-page-auditor .box-card.icon-33across > h2 {
  background-image: url(../logos/33Across_100x100.png);
}
body#id-page-auditor .box-card.icon-conversant > h2 {
  background-image: url(../logos/Conversant_100x100.png);
}
body#id-page-auditor .box-card.icon-paypal > h2 {
  background-image: url(../logos/PayPal_100x100.png);
}
body#id-page-auditor .box-card.icon-addtoany > h2 {
  background-image: url(../logos/AddToAny_100x100.png);
}
body#id-page-auditor .box-card.icon-tune > h2 {
  background-image: url(../logos/Tune_100x100.png);
}
body#id-page-auditor .box-card.icon-subbly > h2 {
  background-image: url(../logos/Subbly_100x100.png);
}
body#id-page-auditor .icon-linkedin:not(.box-card) {
  background-image: url(../logos/LinkedInAds_100x100.png);
}
body#id-page-auditor .icon-medium:not(.box-card) {
  background-image: url(../logos/Medium_100x100.png);
}
body#id-page-auditor .icon-wordpress:not(.box-card) {
  background-image: url(../logos/Wordpress_100x100.png);
}
body#id-page-auditor .icon-git:not(.box-card) {
  background-image: url(../logos/Git_100x100.png);
}
body#id-page-auditor .icon-gmail:not(.box-card) {
  background-image: url(../logos/Gmail_100x100.png);
}
.sd-box {
  margin: 8px 0 0;
}
.sd-box + .sd-box {
  margin-top: 16px !important;
}
.sd-box .sd-box-body {
  padding: 8px 0 8px 8px;
  font-size: 14px;
}
.sd-box .sd-box-body .sd-description-line {
  margin-bottom: 6px;
  word-break: break-word;
}
.sd-box .sd-box-body .sd-description-line span.sd-label {
  font-weight: bold;
}
.sd-box .sd-box-body .sd-description-line:last-child {
  margin-bottom: 0;
}
.sd-box .sd-box-body .sd-description-line ul {
  margin: 4px 0;
}
.sd-box .sd-box-body .sd-description-line picture {
  max-width: calc(100% - 2px - 16px);
  padding: 16px 0 0 0;
  margin: 0 auto 0 0;
  display: block;
  border-radius: 3px;
  position: relative;
}
.sd-box .sd-box-body .sd-description-line picture:before {
  content: attr(data-label);
  position: absolute;
  top: 0;
  font-weight: bold;
  color: var(--color-black) !important;
}
.sd-box .sd-box-body .sd-description-line picture img {
  border: solid 1px var(--border-color);
  max-width: 100%;
  background-color: #fff;
  border-radius: 3px;
  padding: 4px;
}
.label-close,
.label-open {
  padding-left: 2.2em !important;
  background: linear-gradient(90deg, #00640026, #f0f0f0, #00640026);
  padding: 8px 6px;
  font-size: 14px;
  position: relative;
  border: solid 1px var(--border-color);
  background-color: #f0f0f0;
  cursor: pointer;
}
.label-close {
  border-radius: 6px;
}
.label-close::before {
  content: '\f0da';
  font-family: FontAwesome;
  font-size: 2em;
  position: absolute;
  top: 2px;
  left: 0.5em;
  opacity: 0.5;
}
.label-close:hover {
  border-color: #bbb !important;
}
.label-close:hover::before {
  opacity: 1;
}
.label-open {
  border-radius: 6px 6px 0 0;
}
.label-open::before {
  content: '\f0d7';
  font-family: FontAwesome;
  font-size: 2em;
  position: absolute;
  top: 3px;
  left: 0.32em;
  opacity: 0.5;
}
.label-open:hover::before {
  opacity: 1;
}
.body-close {
  display: none;
}
.body-open {
  display: block;
  border: solid 1px var(--border-color);
  border-top: none;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}
