// out: ../dist-ext/, compress: true, sourceMap: false
// ----------------------------------------------------------------------------
// © 2021 - Franco Folini
// ----------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
  ---bg-color: #fafafe;
  ---fc-brand-dark-color: #0a5394;
  ---border-color: rgba(0, 0, 0, 0.125);
  --fc-brand-white: #ffffff;
  --fc-brand-black: #08090acc;
  ---bg-light-color: #dee2e6;
  ---fc-brand-red: #900;
}
body {
  min-width: 470px;
  max-width: 470px;
  height: 400px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
  color: var(--fc-brand-black);
}

header {
  padding: 8px 0;
  background-color: var(---fc-brand-dark-color);
  color: var(--fc-brand-white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  h1 {
    text-align: left;
    margin-left: 0;
    padding-left: 57px;
    font-family: Lobster;
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 28px;
    background-image: url(logos/FC_100x100.png);
    background-repeat: no-repeat;
    background-position: -8px center;
    background-size: 72px;
  }
  .product-by {
    text-align: left;
    margin-left: 16px;
    font-size: 12px;
  }
}

.schema {
  color: darkblue;
  margin-bottom: 16px;
  a {
    text-decoration: none;
  }
}
.label {
  color: darkgreen;
}
.value {
  color: darkblue;
}
h1.title {
  font-size: 1.4em;
  border-top: solid 1px #ccc;
  padding: 4px 16px;
  background-color: #fffbec;
}
.page {
  color: #444;
}
.desc {
  font-size: 1em;
}

main {
  font-size: 14px;
  background-color: var(---bg-color);
  height: 100%;

  #id-container {
    padding: 16px;
    .box-card {
      border: 1px solid var(---border-color);
      border-radius: 0.25rem;
      padding: 16px 12px;
      margin-bottom: 16px;
      background-color: var(--fc-brand-white);
      overflow: hidden;

      .single-line-forced {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .support-form {
        text-align: center;
        padding: 16px 0 0;
      }

      .track-category {
        font-variant: small-caps;
        font-size: 13px;
      }

      .show {
        display: block;
      }
      .hide {
        display: none;
      }
      .card-options {
        padding: 8px 0 0 0;
        position: relative;
        .left-option {
          font-size: 12px;
          position: initial;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 4px 0;
          border: dotted 1px var(---border-color);
          overflow-x: hidden;

          li {
            margin: 4px 0;
            font-family: courier;
            border-top: dotted 1px var(---border-color);
            padding: 4px;
            font-size: 0.9em;

            &:first-child {
              border-top: none;
            }

            span {
              width: 44px;
              display: inline-block;
            }
          }
        }
      }

      .card-description {
        padding: 0 0 4px 0;
        font-size: 14px;
      }

      .meta-items {
        padding: 8px 0 8px 16px;
      }

      a.button-in-card {
        position: absolute;
        right: 0;
        text-decoration: none;
        font-weight: normal;
        font-size: 0.7em;
        border: solid 1px #ccc;
        padding: 0 4px;
        border-radius: 3px;
        color: var(--fc-brand-black);
        cursor: pointer;

        &:hover {
          background-color: var(---fc-brand-dark-color);
          color: var(--fc-brand-white);
          border-color: var(---fc-brand-dark-color);
        }
      }
      a.link-in-card {
        position: absolute;
        right: 0;
        text-decoration: none;
        font-weight: normal;
        font-size: 10.2px;
        color: var(---fc-brand-dark-color);

        &:hover {
          color: var(---fc-brand-red);
          text-decoration: underline;
        }
      }
      h2.subTitle {
        font-size: 18px;
        margin: 0 0 4px;
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: 0 5px;
        padding: 6px 0 5px 30px;
        position: relative;
        font-weight: normal;
      }
    }
  }
}

#id-facebook-card,
#id-twitter-card,
#id-swiftype-card {
  margin: 8px -12px;
  border-top: solid 1px var(---border-color);
  padding: 16px 12px 0;
  h2 {
    color: #000;
    color: #000;
  }
  img {
    width: 100%;
  }
  div {
    padding-top: 8px;
  }
}

#id-facebook-card {
  h2 {
    font-size: 14px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img {
    width: 33%;
    float: left;
    padding-right: 8px;
  }
  div {
    padding-top: 0;
  }
}

nav {
  padding-top: 72px;

  .tabs {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    border-bottom: solid 1px var(---bg-light-color);
    li {
      border: 1px solid transparent;
      border-color: transparent transparent var(---bg-light-color) transparent;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      display: block;
      padding: 0.5rem 1rem;
      cursor: pointer;
      color: darkblue;
      border-radius: 3px 0 0 3px;
      position: relative;
      bottom: -1px;
      user-select: none;

      &.active {
        border-color: var(---bg-light-color) var(---bg-light-color) transparent;
        background-color: var(---bg-color);
      }

      &:not(.active):not(.gap-mini):hover {
        color: #888;
        border-color: var(---bg-light-color);
      }

      &.gap-mini {
        width: 16px;
        padding: 0.5rem 0;
      }
    }
  }
}

.pointers {
  list-style: none;
  padding: 4px 0 4px 24px;
  .credits-pointer {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 6px 0 6px 26px;
    background-position-y: center;

    a {
      text-decoration: none;
      color: var(--fc-brand-black);

      &:hover {
        color: var(---fc-brand-red);
        text-decoration: underline;
      }
    }
  }
}

// ICONS
.icon-ld-json {
  background-image: url(logos/JSON-LD_100x100.png);
}
.icon-error {
  background-image: url(logos/ERROR_100x100.png);
}
.icon-warning {
  background-image: url(logos/WARNING_100x100.png);
}
.icon-google-ads {
  background-image: url(logos/GoogleAds_100x100.png);
}
.icon-double-click {
  background-image: url(logos/DoubleClick_100x100.png);
}
.icon-tag-manager {
  background-image: url(logos/GoogleTagManager_100x100.png);
}
.icon-facebook-pixel {
  background-image: url(logos/FacebookPixel_100x100.png);
}
.icon-twitter {
  background-image: url(logos/TwitterAds_100x100.png);
}
.icon-twitter-analytics {
  background-image: url(logos/TwitterAnalytics_100x100.png);
}
.icon-linkedin {
  background-image: url(logos/LinkedInAds_100x100.png);
}
.icon-bing-ads {
  background-image: url(logos/BingAds_100x100.png);
}
.icon-pinterest {
  background-image: url(logos/Pinterest_100x100.png);
}
.icon-google-analytics-v3 {
  background-image: url(logos/GoogleAnalyticsV3_100x100.png);
}
.icon-podsights {
  background-image: url(logos/Podsights_100x100.png);
}
.icon-site-improve {
  background-image: url(logos/SiteImprove_100x100.png);
}
.icon-google-syndication {
  background-image: url(logos/GoogleSyndication_100x100.png);
}
.icon-web-stat {
  background-image: url(logos/WebStat_100x100.png);
}
.icon-replay-app {
  background-image: url(logos/ReplayApp_100x100.png);
}
.icon-cartkit {
  background-image: url(logos/CartKit_100x100.png);
}
.icon-heroku {
  background-image: url(logos/Heroku_100x100.png);
}
.icon-hubspot {
  background-image: url(logos/Hubspot_100x100.png);
}
.icon-krux-pixel {
  background-image: url(logos/KruxPixel_100x100.png);
}
.icon-amazon-ads {
  background-image: url(logos/AmazonAds_100x100.png);
}
.icon-segment-analytics {
  background-image: url(logos/SegmentAnalytics_100x100.png);
}
.icon-warnermedia-analytics {
  background-image: url(logos/TurnerAnalytics_100x100.png);
}
.icon-criteo {
  background-image: url(logos/Criteo_100x100.png);
}
.icon-zeta-global {
  background-image: url(logos/Zeta_100x100.png);
}
.icon-quantcast {
  background-image: url(logos/QuantCast_100x100.png);
}
.icon-washingtonpost {
  background-image: url(logos/WashingtonPost_100x100.png);
}
.icon-adform {
  background-image: url(logos/AdForm_100x100.png);
}
.icon-nativo {
  background-image: url(logos/Nativo_100x100.png);
}
.icon-drift {
  background-image: url(logos/Drift_100x100.png);
}
.icon-neodata {
  background-image: url(logos/NeodataGroup_100x100.png);
}
.icon-sophus3 {
  background-image: url(logos/Sophus3_100x100.png);
}
.icon-drip {
  background-image: url(logos/Drip_100x100.png);
}
.icon-crazy-egg {
  background-image: url(logos/CrazyEgg_100x100.png);
}
.icon-leadfeeder {
  background-image: url(logos/LeadFeeder_100x100.png);
}
.icon-outbrain {
  background-image: url(logos/OutBrain_100x100.png);
}
.icon-qualtric {
  background-image: url(logos/Qualtric_100x100.png);
}
.icon-avantlink {
  background-image: url(logos/AvantLink_100x100.png);
}
.icon-scorecard {
  background-image: url(logos/ScoreCard_100x100.png);
}
.icon-taboola {
  background-image: url(logos/Taboola_100x100.png);
}
.icon-nielsen {
  background-image: url(logos/Nielsen_100x100.png);
}
.icon-webtrekk {
  background-image: url(logos/Webtrekk_100x100.png);
}
.icon-iubenda {
  background-image: url(logos/Iubenda_100x100.png);
}
.icon-cookielaw {
  background-image: url(logos/Cookielaw_100x100.png);
}
.icon-cxense {
  background-image: url(logos/Cxense_100x100.png);
}
.icon-fc {
  background-image: url(logos/FC_100x100.png);
}
.icon-franco-avatar {
  background-image: url(logos/Avatar_200x200.png);
}
.icon-medium {
  background-image: url(logos/Medium_100x100.png);
}
.icon-wordpress {
  background-image: url(logos/Wordpress_100x100.png);
}
.icon-git {
  background-image: url(logos/Git_100x100.png);
}
.icon-gmail {
  background-image: url(logos/Gmail_100x100.png);
}
.icon-tag {
  background-image: url(logos/Tag_100x100.png);
}
.icon-open-graph {
  background-image: url(logos/OpenGraph_100x100.png);
}
.icon-swiftype {
  background-image: url(logos/Swiftype_100x100.png);
}
.icon-rep {
  background-image: url(logos/REP_100x100.png);
}
.icon-lock {
  background-image: url(logos/Lock_100x100.png);
}
.icon-seo {
  background-image: url(logos/SEO_100x100.png);
}
.icon-chromium {
  background-image: url(logos/Chromium_100x100.png);
}
.icon-apple {
  background-image: url(logos/Apple_100x100.png);
}
.icon-windows {
  background-image: url(logos/Windows_100x100.png);
}
.icon-shopify {
  background-image: url(logos/Shopify_100x100.png);
}
.icon-branch {
  background-image: url(logos/Branch_100x100.png);
}
.icon-ie {
  background-image: url(logos/IE_100x100.png);
}
.icon-ms {
  background-image: url(logos/MS_100x100.png);
}

