// ICONS

.box-card {

  &.icon-ld-json > h2 {
    background-image: url(../assets/logos/JSON-LD_100x100.png);
  }

  &.icon-error > h2 {
    background-image: url(../assets/logos/ERROR_100x100.png);
  }

  &.icon-info > h2 {
    background-image: url(../assets/logos/Info_100x100.png);
  }

  &.icon-OK > h2 {
    background-image: url(../assets/logos/OK_100x100.png);
  }

  &.icon-suggestion > h2 {
    background-color: var(--card-suggestion-color) !important;
    background-image: url(../assets/logos/Suggestion_100x100.png);
    background-color: var(--var-card-suggestion-bg);
  }

  &.icon-google-ads > h2 {
    background-image: url(../assets/logos/GoogleAds_100x100.png);
  }

  &.icon-double-click > h2 {
    background-image: url(../assets/logos/DoubleClick_100x100.png);
  }

  &.icon-tag-manager > h2 {
    background-image: url(../assets/logos/GoogleTagManager_100x100.png);
  }

  &.icon-facebook > h2 {
    background-image: url(../assets/logos/Facebook_100x100.png);
  }

  &.icon-facebook-pixel > h2 {
    background-image: url(../assets/logos/FacebookPixel_100x100.png);
  }

  &.icon-twitter > h2 {
    background-image: url(../assets/logos/TwitterAds_100x100.png);
  }

  &.icon-twitter-analytics > h2 {
    background-image: url(../assets/logos/TwitterAnalytics_100x100.png);
  }

  &.icon-bing-ads > h2 {
    background-image: url(../assets/logos/BingAds_100x100.png);
  }

  &.icon-pinterest > h2 {
    background-image: url(../assets/logos/Pinterest_100x100.png);
  }

  &.icon-google-analytics-v3 > h2 {
    background-image: url(../assets/logos/GoogleAnalyticsV3_100x100.png);
  }

  &.icon-podsights > h2 {
    background-image: url(../assets/logos/Podsights_100x100.png);
  }

  &.icon-site-improve > h2 {
    background-image: url(../assets/logos/SiteImprove_100x100.png);
  }

  &.icon-google > h2 {
    background-image: url(../assets/logos/Google_100x100.png);
  }

  &.icon-web-stat > h2 {
    background-image: url(../assets/logos/WebStat_100x100.png);
  }

  &.icon-replay-app > h2 {
    background-image: url(../assets/logos/ReplayApp_100x100.png);
  }

  &.icon-cartkit > h2 {
    background-image: url(../assets/logos/CartKit_100x100.png);
  }

  &.icon-heroku > h2 {
    background-image: url(../assets/logos/Heroku_100x100.png);
  }

  &.icon-hubspot > h2 {
    background-image: url(../assets/logos/Hubspot_100x100.png);
  }

  &.icon-krux-pixel > h2 {
    background-image: url(../assets/logos/KruxPixel_100x100.png);
  }

  &.icon-amazon-ads > h2 {
    background-image: url(../assets/logos/AmazonAds_100x100.png);
  }

  &.icon-amazon > h2 {
    background-image: url(../assets/logos/Amazon_100x100.png);
  }

  &.icon-segment-analytics > h2 {
    background-image: url(../assets/logos/SegmentAnalytics_100x100.png);
  }

  &.icon-warnermedia-analytics > h2 {
    background-image: url(../assets/logos/TurnerAnalytics_100x100.png);
  }

  &.icon-criteo > h2 {
    background-image: url(../assets/logos/Criteo_100x100.png);
  }

  &.icon-zeta-global > h2 {
    background-image: url(../assets/logos/Zeta_100x100.png);
  }

  &.icon-quantcast > h2 {
    background-image: url(../assets/logos/QuantCast_100x100.png);
  }

  &.icon-adform > h2 {
    background-image: url(../assets/logos/AdForm_100x100.png);
  }

  &.icon-nativo > h2 {
    background-image: url(../assets/logos/Nativo_100x100.png);
  }

  &.icon-drift > h2 {
    background-image: url(../assets/logos/Drift_100x100.png);
  }

  &.icon-neodata > h2 {
    background-image: url(../assets/logos/NeodataGroup_100x100.png);
  }

  &.icon-sophus3 > h2 {
    background-image: url(../assets/logos/Sophus3_100x100.png);
  }

  &.icon-drip > h2 {
    background-image: url(../assets/logos/Drip_100x100.png);
  }

  &.icon-crazy-egg > h2 {
    background-image: url(../assets/logos/CrazyEgg_100x100.png);
  }

  &.icon-leadfeeder > h2 {
    background-image: url(../assets/logos/LeadFeeder_100x100.png);
  }

  &.icon-outbrain > h2 {
    background-image: url(../assets/logos/OutBrain_100x100.png);
  }

  &.icon-qualtric > h2 {
    background-image: url(../assets/logos/Qualtric_100x100.png);
  }

  &.icon-avantlink > h2 {
    background-image: url(../assets/logos/AvantLink_100x100.png);
  }

  &.icon-scorecard > h2 {
    background-image: url(../assets/logos/ScoreCard_100x100.png);
  }

  &.icon-taboola > h2 {
    background-image: url(../assets/logos/Taboola_100x100.png);
  }

  &.icon-nielsen > h2 {
    background-image: url(../assets/logos/Nielsen_100x100.png);
  }

  &.icon-webtrekk > h2 {
    background-image: url(../assets/logos/Webtrekk_100x100.png);
  }

  &.icon-iubenda > h2 {
    background-image: url(../assets/logos/Iubenda_100x100.png);
  }

  &.icon-cookielaw > h2 {
    background-image: url(../assets/logos/Cookielaw_100x100.png);
  }

  &.icon-cxense > h2 {
    background-image: url(../assets/logos/Cxense_100x100.png);
  }

  &.icon-fc > h2 {
    background-image: url(../assets/logos/FC_100x100.png);
  }

  &.icon-franco-avatar > h2 {
    background-image: url(../assets/logos/Avatar_200x200.png);
  }

  &.icon-tag > h2 {
    background-image: url(../assets/logos/Tag_100x100.png);
  }

  &.icon-open-graph > h2 {
    background-image: url(../assets/logos/OpenGraph_100x100.png);
  }

  &.icon-swiftype > h2 {
    background-image: url(../assets/logos/Swiftype_100x100.png);
  }

  &.icon-rep > h2 {
    background-image: url(../assets/logos/REP_100x100.png);
  }

  &.icon-lock > h2 {
    background-image: url(../assets/logos/Lock_100x100.png);
  }

  &.icon-seo > h2 {
    background-image: url(../assets/logos/SEO_100x100.png);
  }

  &.icon-chromium > h2 {
    background-image: url(../assets/logos/Chromium_100x100.png);
  }

  &.icon-edge > h2 {
    background-image: url(../assets/logos/Edge_100x100.png);
  }

  &.icon-micro-formats > h2 {
    background-image: url(../assets/logos/MicroFormats_100x100.png);
  }

  &.icon-apple > h2 {
    background-image: url(../assets/logos/Apple_100x100.png);
  }

  &.icon-windows > h2 {
    background-image: url(../assets/logos/Windows_100x100.png);
  }

  &.icon-shopify > h2 {
    background-image: url(../assets/logos/Shopify_100x100.png);
  }

  &.icon-branch > h2 {
    background-image: url(../assets/logos/Branch_100x100.png);
  }

  &.icon-ie > h2 {
    background-image: url(../assets/logos/IE_100x100.png);
  }

  &.icon-ms > h2 {
    background-image: url(../assets/logos/MS_100x100.png);
  }

  &.icon-unclassified > h2 {
    background-image: url(../assets/logos/Unclassified_100x100.png);
  }

  &.icon-xandr > h2 {
    background-image: url(../assets/logos/Xandr_100x100.png);
  }

  &.icon-ias > h2 {
    background-image: url(../assets/logos/IAS_100x100.png);
  }

  &.icon-wunderkind > h2 {
    background-image: url(../assets/logos/Wunderkind_100x100.png);
  }

  &.icon-heap > h2 {
    background-image: url(../assets/logos/Heap_100x100.png);
  }

  &.icon-marketo > h2 {
    background-image: url(../assets/logos/Marketo_100x100.png);
  }

  &.icon-vwo > h2 {
    background-image: url(../assets/logos/VWO_100x100.png);
  }

  &.icon-cookiebot > h2 {
    background-image: url(../assets/logos/Cookiebot_100x100.png);
  }

  &.icon-pardot > h2 {
    background-image: url(../assets/logos/Pardot_100x100.png);
  }

  &.icon-adroll > h2 {
    background-image: url(../assets/logos/AdRoll_100x100.png);
  }

  &.icon-quora > h2 {
    background-image: url(../assets/logos/Quora_100x100.png);
  }

  &.icon-hotjar > h2 {
    background-image: url(../assets/logos/Hotjar_100x100.png);
  }

  &.icon-trustpilot > h2 {
    background-image: url(../assets/logos/Trustpilot_100x100.png);
  }

  &.icon-liveperson > h2 {
    background-image: url(../assets/logos/LivePerson_100x100.png);
  }

  &.icon-reddit > h2 {
    background-image: url(../assets/logos/Reddit_100x100.png);
  }

  &.icon-buy-sell-ads > h2 {
    background-image: url(../assets/logos/BuySellAds_100x100.png);
  }

  &.icon-cloudflare > h2 {
    background-image: url(../assets/logos/CloudFlare_100x100.png);
  }

  &.icon-google-optimize > h2 {
    background-image: url(../assets/logos/GoogleOptimize_100x100.png);
  }

  &.icon-firebase > h2 {
    background-image: url(../assets/logos/Firebase_100x100.png);
  }

  &.icon-wordpress > h2 {
    background-image: url(../assets/logos/Wordpress_100x100.png);
  }

  &.icon-riskified > h2 {
    background-image: url(../assets/logos/Riskified_100x100.png);
  }

  &.icon-onetrust > h2 {
    background-image: url(../assets/logos/Onetrust_100x100.png);
  }

  &.icon-amplitude > h2 {
    background-image: url(../assets/logos/Amplitude_100x100.png);
  }

  &.icon-new-relic > h2 {
    background-image: url(../assets/logos/NewRelic_100x100.png);
  }

  &.icon-squarespace > h2 {
    background-image: url(../assets/logos/Squarespace_100x100.png);
  }

  &.icon-stripe > h2 {
    background-image: url(../assets/logos/Stripe_100x100.png);
  }

  &.icon-apps-flyer > h2 {
    background-image: url(../assets/logos/AppsFlyer_100x100.png);
  }

  &.icon-appcues > h2 {
    background-image: url(../assets/logos/Appcues_100x100.png);
  }

  &.icon-brand-metrics > h2 {
    background-image: url(../assets/logos/BrandMetrics_100x100.png);
  }

  &.icon-parrable > h2 {
    background-image: url(../assets/logos/Parrable_100x100.png);
  }

  &.icon-neustar > h2 {
    background-image: url(../assets/logos/Neustar_100x100.png);
  }

  &.icon-thetradedesk > h2 {
    background-image: url(../assets/logos/TheTradeDesk_100x100.png);
  }

  &.icon-tidio > h2 {
    background-image: url(../assets/logos/TIDIO_100x100.png);
  }

  &.icon-jquery > h2 {
    background-image: url(../assets/logos/jQuery_100x100.png);
  }

  &.icon-tapfiliate > h2 {
    background-image: url(../assets/logos/Tapfiliate_100x100.png);
  }

  &.icon-intercom > h2 {
    background-image: url(../assets/logos/Intercom_100x100.png);
  }

  &.icon-clearbit > h2 {
    background-image: url(../assets/logos/Clearbit_100x100.png);
  }

  &.icon-chartbeat > h2 {
    background-image: url(../assets/logos/Chartbeat_100x100.png);
  }

  &.icon-onetag > h2 {
    background-image: url(../assets/logos/Onetag_100x100.png);
  }

  &.icon-insurads > h2 {
    background-image: url(../assets/logos/InsurAds_100x100.png);
  }

  &.icon-userzoom > h2 {
    background-image: url(../assets/logos/UserZoom_100x100.png);
  }

  &.icon-consensu > h2 {
    background-image: url(../assets/logos/Consensu_100x100.png);
  }

  &.icon-adobe > h2 {
    background-image: url(../assets/logos/Adobe_100x100.png);
  }

  &.icon-tiktok > h2 {
    background-image: url(../assets/logos/TikTok_100x100.png);
  }

  &.icon-youtube > h2 {
    background-image: url(../assets/logos/YouTube_100x100.png);
  }

  &.icon-snapchat > h2 {
    background-image: url(../assets/logos/SnapChat_100x100.png);
  }

  &.icon-contentsquare > h2 {
    background-image: url(../assets/logos/ContentSquare_100x100.png);
  }

  &.icon-user1st > h2 {
    background-image: url(../assets/logos/USER1st_100x100.png);
  }

  &.icon-fontawesome > h2 {
    background-image: url(../assets/logos/FontAwesome_100x100.png);
  }

  &.icon-cloudfront > h2 {
    background-image: url(../assets/logos/Cloudfront_100x100.png);
  }

  &.icon-aws > h2 {
    background-image: url(../assets/logos/AWS_100x100.png);
  }

  &.icon-js > h2 {
    background-image: url(../assets/logos/JS_100x100.png);
  }

  &.icon-mailchimp > h2 {
    background-image: url(../assets/logos/Mailchimp_100x100.png);
  }

  &.icon-yahoo > h2 {
    background-image: url(../assets/logos/Yahoo_100x100.png);
  }

  &.icon-jivox > h2 {
    background-image: url(../assets/logos/Jivox_100x100.png);
  }

  &.icon-leadlander > h2 {
    background-image: url(../assets/logos/LeadLander_100x100.png);
  }

  &.icon-fastly > h2 {
    background-image: url(../assets/logos/Fastly_100x100.png);
  }

  &.icon-demandbase > h2 {
    background-image: url(../assets/logos/Demandbase_100x100.png);
  }

  &.icon-adlightning > h2 {
    background-image: url(../assets/logos/AdLightning_100x100.png);
  }

  &.icon-mather > h2 {
    background-image: url(../assets/logos/Mather_100x100.png);
  }

  &.icon-lytics > h2 {
    background-image: url(../assets/logos/Lytics_100x100.png);
  }

  &.icon-sitemap > h2 {
    background-image: url(../assets/logos/Sitemap_100x100.png);
  }

  &.icon-moat > h2 {
    background-image: url(../assets/logos/MOAT_100x100.png);
  }

  &.icon-rich-audience > h2 {
    background-image: url(../assets/logos/RichAudience_100x100.png);
  }

  &.icon-gladly > h2 {
    background-image: url(../assets/logos/Gladly_100x100.png);
  }

  &.icon-channel-advisor > h2 {
    background-image: url(../assets/logos/ChannelAdvisor_100x100.png);
  }

  &.icon-tealium > h2 {
    background-image: url(../assets/logos/Tealium_100x100.png);
  }

  &.icon-algonomy > h2 {
    background-image: url(../assets/logos/Algonomy_100x100.png);
  }

  &.icon-teads > h2 {
    background-image: url(../assets/logos/Teads_100x100.png);
  }

  &.icon-salesforce > h2 {
    background-image: url(../assets/logos/SalesForce_100x100.png);
  }

  &.icon-lotame > h2 {
    background-image: url(../assets/logos/Lotame_100x100.png);
  }

  &.icon-movableink > h2 {
    background-image: url(../assets/logos/MovableInk_100x100.png);
  }

  &.icon-skai > h2 {
    background-image: url(../assets/logos/Skai_100x100.png);
  }

  &.icon-zync > h2 {
    background-image: url(../assets/logos/Zync_100x100.png);
  }

  &.icon-bombora > h2 {
    background-image: url(../assets/logos/Bombora_100x100.png);
  }

  &.icon-why > h2 {
    background-image: url(../assets/logos/Why_100x100.png);
  }

  &.icon-how > h2 {
    background-image: url(../assets/logos/How_100x100.png);
  }

  &.icon-open > h2 {
    background-image: url(../assets/logos/Open_100x100.png);
  }

  &.icon-unpkg > h2 {
    background-image: url(../assets/logos/unpkg_100x100.png);
  }

  &.icon-ethers > h2 {
    background-image: url(../assets/logos/Ethers_100x100.png);
  }

  &.icon-fonts > h2 {
    background-image: url(../assets/logos/Fonts_100x100.png);
  }

  &.icon-ada > h2 {
    background-image: url(../assets/logos/Ada_100x100.png);
  }

  &.icon-linkedin > h2 {
    background-image: url(../assets/logos/LinkedInAds_100x100.png);
  }

  &.icon-wordpress > h2 {
    background-image: url(../assets/logos/Wordpress_100x100.png);
  }

  &.icon-fastcomments > h2 {
    background-image: url(../assets/logos/FastComments_100x100.png);
  }

  &.icon-noibu > h2 {
    background-image: url(../assets/logos/Noibu_100x100.png);
  }

  &.icon-zendesk > h2 {
    background-image: url(../assets/logos/ZenDesk_100x100.png);
  }

  &.icon-salesloft > h2 {
    background-image: url(../assets/logos/Salesloft_100x100.png);
  }

  &.icon-americaneagle > h2 {
    background-image: url(../assets/logos/AmericanEagle_100x100.png);
  }

  &.icon-yotpo > h2 {
    background-image: url(../assets/logos/Yotpo_100x100.png);
  }

  &.icon-datadome > h2 {
    background-image: url(../assets/logos/DataDome_100x100.png);
  }

  &.icon-impact > h2 {
    background-image: url(../assets/logos/Impact_100x100.png);
  }

  &.icon-pendo > h2 {
    background-image: url(../assets/logos/Pendo_100x100.png);
  }

  &.icon-wistia > h2 {
    background-image: url(../assets/logos/Wistia_100x100.png);
  }

  &.icon-disqus > h2 {
    background-image: url(../assets/logos/Disqus_100x100.png);
  }

  &.icon-ga-connector > h2 {
    background-image: url(../assets/logos/GaConnector_100x100.png);
  }

  &.icon-fullstory > h2 {
    background-image: url(../assets/logos/FullStory_100x100.png);
  }

  &.icon-speedcurve > h2 {
    background-image: url(../assets/logos/SpeedCurve_100x100.png);
  }

  &.icon-satismeter > h2 {
    background-image: url(../assets/logos/SatisMeter_100x100.png);
  }

  &.icon-profitwell > h2 {
    background-image: url(../assets/logos/ProfitWell_100x100.png);
  }

  &.icon-elevio > h2 {
    background-image: url(../assets/logos/Elevio_100x100.png);
  }

  &.icon-headway-app > h2 {
    background-image: url(../assets/logos/HeadwayApp_100x100.png);
  }

  &.icon-typekit > h2 {
    background-image: url(../assets/logos/Typekit_100x100.png);
  }

  &.icon-ocelot > h2 {
    background-image: url(../assets/logos/Ocelot_100x100.png);
  }

  &.icon-zoominfo > h2 {
    background-image: url(../assets/logos/Zoominfo_100x100.png);
  }

  &.icon-iterate > h2 {
    background-image: url(../assets/logos/Iterate_100x100.png);
  }

  &.icon-bluekai > h2 {
    background-image: url(../assets/logos/Bluekai_100x100.png);
  }

  &.icon-geoedge > h2 {
    background-image: url(../assets/logos/Geoedge_100x100.png);
  }

  &.icon-akamai > h2 {
    background-image: url(../assets/logos/Akamai_100x100.png);
  }

  &.icon-media-net > h2 {
    background-image: url(../assets/logos/MediaNet_100x100.png);
  }

  &.icon-cookiepro > h2 {
    background-image: url(../assets/logos/CookiePro_100x100.png);
  }

  &.icon-ensighten > h2 {
    background-image: url(../assets/logos/Ensighten_100x100.png);
  }

  &.icon-mediamath > h2 {
    background-image: url(../assets/logos/MediaMath_100x100.png);
  }

  &.icon-liveramp > h2 {
    background-image: url(../assets/logos/LiveRamp_100x100.png);
  }

  &.icon-bugherd > h2 {
    background-image: url(../assets/logos/BugHerd_100x100.png);
  }

  &.icon-sharpspring > h2 {
    background-image: url(../assets/logos/SharpSpring_100x100.png);
  }

  &.icon-sumo > h2 {
    background-image: url(../assets/logos/Sumo_100x100.png);
  }

  &.icon-lead-forensics > h2 {
    background-image: url(../assets/logos/LeadForensics_100x100.png);
  }

  &.icon-clickcease > h2 {
    background-image: url(../assets/logos/Clickcease_100x100.png);
  }

  &.icon-marin > h2 {
    background-image: url(../assets/logos/Marin_100x100.png);
  }

  &.icon-osano > h2 {
    background-image: url(../assets/logos/Osano_100x100.png);
  }

  &.icon-osano > h2 {
    background-image: url(../assets/logos/Osano_100x100.png);
  }

  &.icon-movinghub > h2 {
    background-image: url(../assets/logos/Movinghub_100x100.png);
  }

  &.icon-bootstrap > h2 {
    background-image: url(../assets/logos/Bootstrap_100x100.png);
  }

  &.icon-github > h2 {
    background-image: url(../assets/logos/Github_100x100.png);
  }

  &.icon-carbonads > h2 {
    background-image: url(../assets/logos/CarbonAds_100x100.png);
  }

  &.icon-baidu > h2 {
    background-image: url(../assets/logos/Baidu_100x100.png);
  }

  &.icon-cookie-script > h2 {
    background-image: url(../assets/logos/CookieScript_100x100.png);
  }

  &.icon-justuno > h2 {
    background-image: url(../assets/logos/JustUno_100x100.png);
  }

  &.icon-order-logic > h2 {
    background-image: url(../assets/logos/OrderLogic_100x100.png);
  }

  &.icon-shogun > h2 {
    background-image: url(../assets/logos/Shogun_100x100.png);
  }

  &.icon-optinmonster > h2 {
    background-image: url(../assets/logos/OptinMonster_100x100.png);
  }

  &.icon-33across > h2 {
    background-image: url(../assets/logos/33Across_100x100.png);
  }

  &.icon-conversant > h2 {
    background-image: url(../assets/logos/Conversant_100x100.png);
  }

  &.icon-paypal > h2 {
    background-image: url(../assets/logos/PayPal_100x100.png);
  }

  &.icon-addtoany > h2 {
    background-image: url(../assets/logos/AddToAny_100x100.png);
  }

  &.icon-tune > h2 {
    background-image: url(../assets/logos/Tune_100x100.png);
  }

  &.icon-subbly > h2 {
    background-image: url(../assets/logos/Subbly_100x100.png);
  }

  &.icon-netweek > h2 {
    background-image: url(../assets/logos/NetWeek_100x100.png);
  }

  &.icon-jsdelivr > h2 {
    background-image: url(../assets/logos/JsDelivr_100x100.png);
  }

  &.icon-vimeo > h2 {
    background-image: url(../assets/logos/Vimeo_100x100.png);
  }

  &.icon-sharethis > h2 {
    background-image: url(../assets/logos/ShareThis_100x100.png);
  }

  &.icon-polyfill > h2 {
    background-image: url(../assets/logos/Polyfill_100x100.png);
  }

  &.icon-4cite > h2 {
    background-image: url(../assets/logos/4cite_100x100.png);
  }

  &.icon-igodigital > h2 {
    background-image: url(../assets/logos/IGoDigital_100x100.png);
  }

  &.icon-oracle > h2 {
    background-image: url(../assets/logos/Oracle_100x100.png);
  }

  &.icon-trustarc > h2 {
    background-image: url(../assets/logos/TrustArc_100x100.png);
  }

  &.icon-accessibleweb > h2 {
    background-image: url(../assets/logos/AccessibleWeb_100x100.png);
  }

  &.icon-attentive > h2 {
    background-image: url(../assets/logos/Attentive_100x100.png);
  }

  &.icon-klarna > h2 {
    background-image: url(../assets/logos/Klarna_100x100.png);
  }

  &.icon-abtasty > h2 {
    background-image: url(../assets/logos/AbTasty_100x100.png);
  }

  &.icon-didomi > h2 {
    background-image: url(../assets/logos/Didomi_100x100.png);
  }

  &.icon-source-forge > h2 {
    background-image: url(../assets/logos/SourceForge_100x100.png);
  }

  &.icon-unbounce > h2 {
    background-image: url(../assets/logos/Unbounce_100x100.png);
  }

  &.icon-discourse > h2 {
    background-image: url(../assets/logos/Discourse_100x100.png);
  }

  &.icon-kissmetrics > h2 {
    background-image: url(../assets/logos/KissMetrics_100x100.png);
  }

  &.icon-subscribers > h2 {
    background-image: url(../assets/logos/Subscribers_100x100.png);
  }

  &.icon-azure > h2 {
    background-image: url(../assets/logos/Azure_100x100.png);
  }

  &.icon-digital-ocean > h2 {
    background-image: url(../assets/logos/DigitalOcean_100x100.png);
  }

  &.icon-hull > h2 {
    background-image: url(../assets/logos/Hull_100x100.png);
  }

  &.icon-chilipiper > h2 {
    background-image: url(../assets/logos/ChiliPiper_100x100.png);
  }

  &.icon-sentry > h2 {
    background-image: url(../assets/logos/Sentry_100x100.png);
  }

  &.icon-customer > h2 {
    background-image: url(../assets/logos/Customer_100x100.png);
  }

  &.icon-mutiny > h2 {
    background-image: url(../assets/logos/Mutiny_100x100.png);
  }

  &.icon-jetboost > h2 {
    background-image: url(../assets/logos/JetBoost_100x100.png);
  }

  &.icon-webflow > h2 {
    background-image: url(../assets/logos/Webflow_100x100.png);
  }

  &.icon-treasuredata > h2 {
    background-image: url(../assets/logos/TreasureData_100x100.png);
  }

  &.icon-onesignal > h2 {
    background-image: url(../assets/logos/OneSignal_100x100.png);
  }

  &.icon-mixpanel > h2 {
    background-image: url(../assets/logos/Mixpanel_100x100.png);
  }

  &.icon-wisepops > h2 {
    background-image: url(../assets/logos/Wisepops_100x100.png);
  }

  &.icon-web-analytics-italia > h2 {
    background-image: url(../assets/logos/WebAnalyticsItalia_100x100.png);
  }

  &.icon-quantum-metric > h2 {
    background-image: url(../assets/logos/QuantumMetric_100x100.png);
  }

  &.icon-ramp-metrics > h2 {
    background-image: url(../assets/logos/RampMetrics_100x100.png);
  }

  &.icon-wix > h2 {
    background-image: url(../assets/logos/Wix_100x100.png);
  }

  &.icon-lead-champion > h2 {
    background-image: url(../assets/logos/LeadChampion_100x100.png);
  }

  &.icon-tawk > h2 {
    background-image: url(../assets/logos/Tawk_100x100.png);
  }

  &.icon-addthis > h2 {
    background-image: url(../assets/logos/AddThis_100x100.png);
  }

  &.icon-zoho > h2 {
    background-image: url(../assets/logos/Zoho_100x100.png);
  }

  &.icon-html-tag > h2 {
    background-image: url(../assets/logos/HtmlTag_100x100.png);
  }
}
