
  .icon-linkedin:not(.box-card) {
    background-image: url(../assets/logos/LinkedInAds_100x100.png);
  }

  .icon-medium:not(.box-card) {
    background-image: url(../assets/logos/Medium_100x100.png);
  }

  .icon-wordpress:not(.box-card) {
    background-image: url(../assets/logos/Wordpress_100x100.png);
  }

  .icon-git:not(.box-card) {
    background-image: url(../assets/logos/Git_100x100.png);
  }

  .icon-gmail:not(.box-card) {
    background-image: url(../assets/logos/Gmail_100x100.png);
  }
