.icon-linkedin:not(.box-card) {
  background-image: url(../brands/LinkedInAds_100x100.png);
}

.icon-medium:not(.box-card) {
  background-image: url(../brands/Medium_100x100.png);
}

.icon-wordpress:not(.box-card) {
  background-image: url(../brands/Wordpress_100x100.png);
}

.icon-git:not(.box-card) {
  background-image: url(../brands/Git_100x100.png);
}

.icon-gmail:not(.box-card) {
  background-image: url(../brands/Gmail_100x100.png);
}
